@model EmployeeManagement.DTOs.Employee
@{
    ViewData["Title"] = "GetEmployeeById";
}

<h1>Below are selected employee details</h1>
Employee name: @Model.EName<br />
Salary: @Model.Salary<br />
Dept name: @Model.DeptName
